.library-view {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 80vh;
    margin-top: 1.5rem;
}

.library-view > .content-view {
    padding-left: 34px!important;
}

.library-cards {
    display: flex;
    flex-flow: row wrap;
}

.library-search {
    margin-left: auto;
    width: 50%;
}

.library-sidebar {
    height: fit-content;
    margin-left: 1.5rem;
}

.content-view > .nav {
    margin-bottom: 1rem;
    margin-right: 10px;
}

.nav-tabs .nav-link {
    border-bottom: none!important;
}

.nav-link.active {
    background-color: #f8f9fa!important;
}

table.table.table-bordered {
    width: calc(100% - 10px);
}

.table-head-status {
    min-width: 185px;
}