.library-view {
    min-height: fit-content;
}

#root > .library-view {
    padding-left: 34px!important;
}

.library-cards {
    display: flex;
    flex-flow: row wrap;
}

.nav {
    margin-right: 10px;
}