@import 'utilities';
@import 'variables';

html,
body,
#root {
  background: -webkit-linear-gradient(
    180deg,
    rgb(245, 210, 104),
    rgb(242, 125, 30)
  );
  background: linear-gradient(
    180deg,
    rgb(245, 210, 104),
    rgb(242, 125, 30)
  );
  margin: 0;
  height: 100%;
  overflow-y: auto;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}