@import 'variables';

// Font Size
.font-size-xl { font-size: 2rem;  }
.font-size-l  { font-size:  1.8rem; }
.font-size-m  { font-size:  1.6rem; }
.font-size-b  { font-size:  1.4rem; }
.font-size-s  { font-size:  1.3rem; }
.font-size-xs { font-size: 1.2rem;  }

// Font Weight
.font-weight-primary   { font-weight: 500; }
.font-weight-secondary { font-weight: 100; }

// Line Height
.font-line-height-primary   { line-height: 2.4rem; }
.font-line-height-secondary { line-height: 1.6rem; }

// Borders
.border        { border: 1px solid $base-border;        }
.border-top    { border-top: 1px solid $base-border;    }
.border-bottom { border-bottom: 1px solid $base-border; }
.border-right  { border-right: 1px solid $base-border;  }
.border-left   { border-left: 1px solid $base-border;   }