nav.navbar {
    padding: 0.25rem 15.5vw;
}

.nav-search > input {
    width: 200px;
    transition: 0.2s;
}

.nav-search > input:focus {
    width: 400px;
}

.nav-link > img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}