@import '../../stylesheets/variables';

img {
    height: 50px;
    width: 50px;
}

.btn {
    margin-bottom: 1rem;
}

.form-text {
    text-align: center;
}

.login-form {
    background-color: $basic-white;
    margin: auto;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}
