@import '../../stylesheets/variables';

img {
    height: 50px;
    width: 50px;
}

.form-text {
    text-align: center;
}

.login-form-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-form {
    background-color: $basic-white;
    
    .btn {
        margin-bottom: 1rem;
    }
}
