@import '../../../stylesheets/variables.scss';

.card > .card-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: auto;
    height: auto;
    width: 100%
}

.card > .progress {
    border-radius: 0;
    height: 10px;
}

.card > .card-text {
    font-size: 12px;
    padding: 0 0.25rem;
}

.card-wrapper {
    margin-bottom: 10px;
    opacity: 1;
    padding-right: 10px;
    width: 20%;
}

@media only screen and (max-width: 1440px) {
    .card-wrapper {
      width: 25%;
    }
}

@media only screen and (max-width: 768px) {
    .card-wrapper {
      width: 33.33%;
    }
}

@media only screen and (max-width: 576px) {
    .card-wrapper {
      width: 50%;
    }
}

.spinner-border {
    margin: 2rem auto;
}

// For list view

.list-poster {
    float: left;
    height: 50px;
    margin-right: 1rem;
    overflow: hidden;
}

.list-poster > img {
    height: auto;
    max-width: 100%;
}

.list-title-center {
    margin-bottom: 0;
    padding: 12px 0;
}