.card > .card-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: auto;
    height: auto;
    width: 100%
}

.card > .progress {
    border-radius: 0;
    height: 10px;
}

.card > .card-text {
    font-size: 11px;
    padding: 0 0.25rem;
}

.card-wrapper {
    margin-bottom: 10px;
    padding-right: 10px;
    width: 20%;
}

.spinner-border {
    margin: 2rem auto;
}